<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832457999155-8sun3f59aq1svtlso7b44v3jpscd9a65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832457999155-8sun3f59aq1svtlso7b44v3jpscd9a65</string>
	<key>API_KEY</key>
	<string>AIzaSyD1qPnAh16OKWfodmo736wdownmp9RWRn4</string>
	<key>GCM_SENDER_ID</key>
	<string>832457999155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invention.iHill.InterviewDemo</string>
	<key>PROJECT_ID</key>
	<string>interviewdemo-f2cb5</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewdemo-f2cb5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832457999155:ios:2e8d278d8c237351dcf446</string>
</dict>
</plist>